<div>
  <v-app-bar
      color="rgb(66, 109, 73)"
     height="100"
  >
    <v-img class="mx-2"
           max-height="100"
           max-width="100"
           contain
           :src="require('@/assets/logo.png')"/>
    <v-spacer></v-spacer>
<!--    <v-btn icon>-->
<!--      <v-icon>mdi-facebook</v-icon>-->
<!--    </v-btn>-->
<!--    <v-btn icon>-->
<!--      <v-icon>mdi-phone</v-icon>-->
<!--    </v-btn>-->
    <v-btn
        class="v-btn"
        v-for="(item, index) in routes"
        :href="rootPath + item.path + toUrlParam(item.params)"
        :key="index"
        text
        color="#fff"
    >
      <span>{{ $t(item.name) }}</span>
    </v-btn>
    <v-menu
        left
        bottom
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
            icon
            v-bind="attrs"
            v-on="on"
            color="#fff"
        >
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
            v-for="n in 5"
            :key="n"
            @click="() => {}"
        >
          <v-list-item-title>Option {{ n }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</div>